/* FEATURES SECTION */

.section-features {
  padding: 9.6rem 0;
  background-color: #111; /* Un fondo ligeramente distinto para separar */
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8rem;
}

.feature-card {
  text-align: center;
  border: 1px solid #333;
  border-radius: 11px;
  padding: 3.2rem 2.4rem;
  transition: all 0.3s;
}

.feature-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.feature-icon {
  width: 6.4rem;
  height: 6.4rem;
  margin-bottom: 3.2rem;
  fill: rgb(222, 226, 230);
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: 0.9px;
  color: rgb(222, 226, 230);
}

/* ======================================= /
/ BREAKPOINT: TABLET (768px) /
/ ======================================= */

@media (min-width: 48em) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
  }

  .feature-card:first-child {
    grid-column: 1 / -1;
  }
}

/* ======================================= */
/* BREAKPOINT: DESKTOP (1200px) */
/* ======================================= */
@media (min-width: 75em) {
  .features-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .features-grid .feature-card:first-child {
    grid-column: auto;
  }
}
