/* FEATURES SECTION */

.section-features img {
  height: 100px;
}

.section-features {
  padding: 1.6rem;
}

.heading-secondary {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #ff8787;
  margin-top: 6.4rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: -0.9px;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

.feature-text {
  font-size: 1.6rem;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
  text-align: center;
}
