/* MAIN CSS */

:root {
  /* Paleta de Colores */
  --color-brand-primary: #f03e3e;
  --color-brand-secondary: #212529;
  --color-dark: #000;
  --color-text-light: #ffe3e3;
  --color-light: #f1f3f5;
  --color-text: #e9ecef;

  /* Tipografía */
  /* Al final escojo la tipografia */
  /* --font-primary: "Bebas Neue", sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

/* ---- COMPONENTES GLOBALES / UTILIDADES ---- */
.btn {
  display: inline-block; /* Importante para que padding/margin funcione bien */
  text-decoration: none;
  font-weight: 700;
  color: var(--color-light);
  background-color: var(--color-brand-primary);
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

/* Mejora de Accesibilidad: Estilo de foco para navegación con teclado */
.btn:focus-visible {
  outline: 3px solid var(--color-brand-secondary);
  box-shadow: 0 0 0 5px var(--color-brand-primary);
}
