/* MAIN CSS */

:root {
  /* Paleta de Colores */
  --color-brand-primary: #f03e3e;
  --color-brand-secondary: #111;
  --color-dark: #000;
  --color-text-light: rgb(173, 181, 189);
  --color-light: rgb(222, 226, 230);
  --color-text: rgb(222, 226, 230);
  --color-rating: #fcc419;
  --gradient-cta: linear-gradient(to bottom, #2d0c0c, #601919);

  /* Tipografía */
  /* Al final escojo la tipografia */
  /* --font-primary: "Bebas Neue", sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.6;
  background-color: var(--color-brand-secondary);
  color: var(--color-text);
}

/* ---- COMPONENTES GLOBALES / UTILIDADES ---- */
.btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(222, 226, 230);
  background-color: var(--color-brand-primary);
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 2.4rem;
}

.btn:focus-visible {
  outline: 3px solid var(--color-brand-secondary);
  box-shadow: 0 0 0 5px var(--color-brand-primary);
}

/* Modificador para botones con fondo oscuro */
.btn--dark {
  background-color: var(--color-brand-secondary);
  color: var(--color-light);
}

.btn--dark:hover,
.btn--dark:focus-visible {
  background-color: #000;
  color: var(--color-light);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* MARGIN BOTTOM */
.margin-bottom-sm {
  margin-bottom: 1.2rem !important;
}
.margin-bottom-md {
  margin-bottom: 2.4rem !important;
}
.margin-bottom-lg {
  margin-bottom: 4.8rem !important;
}

/* ---- TITULARES GLOBALES ---- */
.heading-secondary,
.heading-tertiary {
  /* Combinamos reglas que comparten para no repetir código */
  color: var(--color-brand-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading-secondary {
  font-size: 6.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem; /* Aumentamos el espacio debajo del título principal de sección */
  text-align: center;
}
.heading-secondary span {
  /* Usamos span para los cambios de color */
  color: #adb5bd;
}

.heading-tertiary {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  letter-spacing: 3px;
}

/* Sub-título para secciones */
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ff6b6b;
  text-transform: uppercase;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  letter-spacing: 2px;
}

.logo {
  width: 100%;
  height: auto;
}
